@using Microsoft.EntityFrameworkCore.Infrastructure;
@using E_Commerce_Playground.Controllers;


<div class="container">
    <div class="row">
        <div class="col">
            <h1>Users</h1> </div>        <div class="col"><h1>Stores</h1></div> <div class="col"><h1>Products</h1></div></div>
            <div class="row">
                <div class="col">Total users: @AdminController.GetUsers()</div><div class="col">Total stores: @AdminController.GetStores() </div><div class="col">Total products: @AdminController.GetProducts()</div>
            </div>


       





</div>