@using System.Net;
@using System.Linq;


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@




@model IEnumerable<User>
@inject IHttpContextAccessor context;
<div class="table-responsive">
    <table>
        <tr>
            <th>
                @{
                    if (context.HttpContext.Request.Cookies.ContainsKey("MyCookie"))
                    {
                        var cookie = context.HttpContext.Request.Cookies["MyCookie"];
                        <h1>Username: @cookie</h1>
                        var list = Model.ToList();

                        foreach(var item in Model)
                        {
                            if(item.UserName == cookie)
                            {
                                var v = item.UserId;
                                <h1>@v</h1>
                                <h1>@item.ProfilePictureURL</h1>

                            }

                                 
                        }

                    }



                        
                }
               
            </th>
        </tr>
    </table>

</div>
