@using E_Commerce_Playground.Controllers;


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    @inject IHttpContextAccessor context
    @{

        var cookieValue = context.HttpContext.Request.Cookies.ToList();
        var data = cookieValue;
        <h1>@data</h1>

   

       






    }