@model User

<body>


@**<div>
    <h1>kyp</h1>
        <form method="post" action="/Loginn/Login">
            <div>
                <table>
                    <tr>
                        <td>
                            <label for="Email">Email:</label>
                            <input type="text" name="Email" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="Password">Password:</label>
                            <input type="password" name="Password" value="" />
                        </td>
                    </tr>
                </table>
                <button class="btn-dark" type="submit">Submit</button>
                
            </div>
        </form>


</div>
   *@
<div>
    <form asp-controller="Loginn" asp-action="Login" method="post">
        Email: <input asp-for="Email" /><br />
        Password: <input asp-for="Password" /><br />
        <button type="submit">Login</button>
    </form>
</div>
</body>

