

<body>


<div>
    <h1>kyp</h1>
   <form method="post">
       <div>
           <label for="Email">Email:</label>
           <input type="text" name="Email" value="" />
       </div>
   </form>
</div>
</body>

