@model IEnumerable<Product>

@{
    ViewData["title"] = "List of User";
}

    <div class="row">
        <div class="col-md-8 offset-md-2">

            <table>
                <thead>
               

                </thead>
               
                <tbody>
                
               
                    @foreach (var item in Model)
                    {
                     <div class="row-cols-auto > * {  flex: 0 0 auto; width: auto;}">
                             <div class="align-content-start align-items-sm-start"> <img class="rounded-circle" src="@item.ProductPictureURL"></img> </div>
                       
                            <div class="text-black align-content-end"><h1>@item.ProductName</h1></div>
                       
                          </div>
                    <tr>
                        <div class="text-black"><h1>@item.Category</h1></div>
                    </tr>
                      <tr>
                          <div class="text-black"><h1>Quantity: @item.Quantity</h1></div>
                      </tr>
                           


                       
                    }
                

                </tbody>

            </table>


        </div>
    </div>